.popular {
    padding: 100px 0;
    text-align: center;
  }
  
  h2 {
    color: #FFFFFF;
    font-size: 35px;
    margin-bottom: 45px;
  }
  
  .popular-content {
    display: flex;
    justify-content: space-between;
  }
  
  .popular-content img {
    width: 150px;
  }
  
  .product-content {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 50px;
  }
  
  .product-1 {
    background-color: #414141;
    margin: 10px;
    border-radius: 15px;
  }

  .product-txt {
    padding: 50px 30px;
  }